run = "./gradlew assembleDebug"
modules = ["java-graalvm22.3", "nix"]
[nix]
channel = "stable-25_05"

[deployment]
run = ["sh", "-c", "./gradlew assembleDebug"]

[workflows]
runButton = "Build APK"

[[workflows.workflow]]
name = "Build APK"
author = 45582021
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "./gradlew assembleDebug"
